<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PocketSpotter</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/exercise_spotter.css') }}">
    <script>
        function redirectToExercisePage(exercise) {
            window.location.href = '/' + exercise;
        }
    </script>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/BicepCurl">Bicep Curl</a>
        <a href="/Benchpress">Bench Press</a>
        <a href="/Squat">Squat</a>
    </nav>
    <h1>Press Spotter</h1>
    <div class="video-container">
        <img src="{{ url_for('video_feed') }}" alt="Video Stream">
    </div>
</body>
</html>