<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PocketSpotter</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/exercise_spotter.css') }}">
    <script>
        function openNav() {
            document.getElementById("myNav").style.width = "250px";
            document.getElementById("openBtn").classList.add("hidden"); // Hide the "Exercises" button
        }

        function closeNav() {
            document.getElementById("myNav").style.width = "0";
            document.getElementById("openBtn").classList.remove("hidden"); // Show the "Exercises" button
        }
    </script>
</head>
<body>
    <nav>
        <div class="nav-links">
            <a href="/">🏠︎ Home</a>
        </div>
        
        <button id="openBtn" class="openbtn" onclick="openNav()" style="color: #ECDFCC; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 1rem; text-align: center;">Exercises ☰</button>
    </nav>
    <div style="display: flex; align-items: center; justify-content: center;">
        <img src="static/dumbell2.png" style="width: 2.5rem; height: 2.5rem; margin-left: 2rem; margin-right: 1rem; margin-top: 3rem; transform: rotate(225deg);">
        <h1>Pushup Spotter</h1>
        <img src="static/dumbell2.png" style="width: 2.5rem; height: 2.5rem; margin-right: 2rem; margin-left: 1rem; margin-top: 3rem; transform: rotate(-45deg);">
    </div>
    <div class="video-container">
        <img src="{{ url_for('video_feed') }}" alt="Video Stream">
    </div>
    <div id="myNav" class="hamburger-menu">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/BicepCurl">Bicep Curl</a>
        <a href="/Benchpress">Bench Press</a>
        <a href="/Squat">Squat</a>
        <a href="/Pushups">Pushups</a>
    </div>
</body>
</html>
